{
    "swagger": "2.0",
    "info": {
        "title": "API - Current Routes",
        "version": "1.0"
    },
    "host": "navnps5j2apiae.azure-api.net",
    "basePath": "/cebutestv2",
    "schemes": [
        "http",
        "https"
    ],
    "securityDefinitions": {
        "apiKeyHeader": {
            "type": "apiKey",
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header"
        },
        "apiKeyQuery": {
            "type": "apiKey",
            "name": "subscription-key",
            "in": "query"
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ],
    "paths": {
        "/api/nsk/v1/account/password/change": {
            "post": {
                "description": "Changes the accounts password.",
                "operationId": "ApiNskV1AccountPasswordChangePost",
                "summary": "Changes the accounts password.",
                "tags": [
                    "account"
                ],
                "parameters": [
                    {
                        "name": "accountChangePasswordRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/AccountChangePasswordRequest"
                        },
                        "description": "The change password request."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "201": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1AccountPasswordChangePost201TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/account/password/reset": {
            "post": {
                "description": "Invokes the forgot password reset for a specific account.",
                "operationId": "ApiNskV1AccountPasswordResetPost",
                "summary": "Invokes the forgot password reset for a specific account.",
                "tags": [
                    "account"
                ],
                "parameters": [
                    {
                        "name": "accountForgotPasswordRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/AccountForgotPasswordRequest"
                        },
                        "description": "The forgot password request."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "202": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1AccountPasswordResetPost202TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/addOns/activities": {
            "post": {
                "description": "Sell request for an activity.",
                "operationId": "ApiNskV1AddOnsActivitiesPost",
                "summary": "Sell request for an activity.",
                "tags": [
                    "addOns"
                ],
                "parameters": [
                    {
                        "name": "sellTokenRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/SellTokenRequest"
                        },
                        "description": "Items request."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "201": {
                        "description": "Created.",
                        "schema": {
                            "$ref": "#/definitions/AddOn"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/addOns/activities/available": {
            "post": {
                "description": "This is functionally a GET but POST is used to reduce URL length overhead.",
                "operationId": "ApiNskV1AddOnsActivitiesAvailablePost",
                "summary": "Gets availability.",
                "tags": [
                    "addOns"
                ],
                "parameters": [
                    {
                        "name": "activitySimpleRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/ActivitySimpleRequest"
                        },
                        "description": "Activity simple query."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ActivityProductArray"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/addOns/activities/quote": {
            "post": {
                "description": "Quote an activity.",
                "operationId": "ApiNskV1AddOnsActivitiesQuotePost",
                "summary": "Quote an activity.",
                "tags": [
                    "addOns"
                ],
                "parameters": [
                    {
                        "name": "quoteTokenRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/QuoteTokenRequest"
                        },
                        "description": "Quote hotel request."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "200": {
                        "description": "Ok.",
                        "schema": {
                            "$ref": "#/definitions/QuotedProduct"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/addOns/cars": {
            "post": {
                "description": "Sell request for a car.",
                "operationId": "ApiNskV1AddOnsCarsPost",
                "summary": "Sell request for a car.",
                "tags": [
                    "addOns"
                ],
                "parameters": [
                    {
                        "name": "sellCarRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/SellCarRequest"
                        },
                        "description": "Items request."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "201": {
                        "description": "Created.",
                        "schema": {
                            "$ref": "#/definitions/AddOn"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/addOns/cars/available": {
            "post": {
                "description": "This is functionally a GET but POST is used to reduce URL length overhead.",
                "operationId": "ApiNskV1AddOnsCarsAvailablePost",
                "summary": "Gets availability.",
                "tags": [
                    "addOns"
                ],
                "parameters": [
                    {
                        "name": "productRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/ProductRequest"
                        },
                        "description": "Activity simple query."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/CarProductArray"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/addOns/cars/quote": {
            "post": {
                "description": "Quote car.",
                "operationId": "ApiNskV1AddOnsCarsQuotePost",
                "summary": "Quote car.",
                "tags": [
                    "addOns"
                ],
                "parameters": [
                    {
                        "name": "quoteCarRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/QuoteCarRequest"
                        },
                        "description": "Quote hotel request."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "200": {
                        "description": "Ok.",
                        "schema": {
                            "$ref": "#/definitions/QuotedProduct"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/addOns/hotels": {
            "post": {
                "description": "Sell request for a hotel.",
                "operationId": "ApiNskV1AddOnsHotelsPost",
                "summary": "Sell request for a hotel.",
                "tags": [
                    "addOns"
                ],
                "parameters": [
                    {
                        "name": "sellHotelRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/SellHotelRequest"
                        },
                        "description": "Items request."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "201": {
                        "description": "Created.",
                        "schema": {
                            "$ref": "#/definitions/AddOn"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/addOns/hotels/available": {
            "post": {
                "description": "This is functionally a GET but POST is used to reduce URL length overhead.",
                "operationId": "ApiNskV1AddOnsHotelsAvailablePost",
                "summary": "Gets availability.",
                "tags": [
                    "addOns"
                ],
                "parameters": [
                    {
                        "name": "hotelRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/HotelRequest"
                        },
                        "description": "Activity simple query."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/HotelProductArray"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/addOns/hotels/quote": {
            "post": {
                "description": "Quote hotel.",
                "operationId": "ApiNskV1AddOnsHotelsQuotePost",
                "summary": "Quote hotel.",
                "tags": [
                    "addOns"
                ],
                "parameters": [
                    {
                        "name": "quoteHotelRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/QuoteHotelRequest"
                        },
                        "description": "Quote hotel request."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "200": {
                        "description": "Ok.",
                        "schema": {
                            "$ref": "#/definitions/QuotedProduct"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v2/availability/lowfare": {
            "post": {
                "description": "Although this endpoint behaves like a GET, POST reduces the limitations resulting from URL length issues.",
                "operationId": "ApiNskV2AvailabilityLowfarePost",
                "summary": "Searches for low fare availability with the full low fare search request. This request allows for total control\r\nover the configuration. If a property is not set, the default settings (LowFareAvailabilitySettings) are used in\r\nits place.",
                "tags": [
                    "availability"
                ],
                "parameters": [
                    {
                        "name": "lowFareAvailabilityRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/LowFareAvailabilityRequest"
                        },
                        "description": "The low fare availability request."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "200": {
                        "description": "Availability returned OK.",
                        "schema": {
                            "$ref": "#/definitions/LowFareAvailability"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV2AvailabilityLowfarePost404TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v2/availability/lowfare/simple": {
            "post": {
                "description": "Although this endpoint behaves like a GET, POST reduces the limitations resulting from URL length issues.",
                "operationId": "ApiNskV2AvailabilityLowfareSimplePost",
                "summary": "Searches for low fare availability with the simple search request. The simple search request covers the common search\r\ncriteria and lets default settings (LowFareAvailabilitySettings) configure the rest.",
                "tags": [
                    "availability"
                ],
                "parameters": [
                    {
                        "name": "lowFareAvailabilitySearchSimpleRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/LowFareAvailabilitySearchSimpleRequest"
                        },
                        "description": "The low fare availability search simple request."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "200": {
                        "description": "Availability returned OK.",
                        "schema": {
                            "$ref": "#/definitions/LowFareAvailability"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV2AvailabilityLowfareSimplePost404TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v3/availability/search": {
            "post": {
                "description": "Although this endpoint behaves like a GET, POST reduces the limitations resulting from URL length issues.",
                "operationId": "ApiNskV3AvailabilitySearchPost",
                "summary": "Searches for availability with the full availability search request. This request allows for total control over\r\nthe configuration. If a property is not set, the default settings (AvailabilitySettings) are used in its place.",
                "tags": [
                    "availability"
                ],
                "parameters": [
                    {
                        "name": "availabilityRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/AvailabilityRequest"
                        },
                        "description": "The availability search request."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "200": {
                        "description": "Availability returned OK.",
                        "schema": {
                            "$ref": "#/definitions/Availability"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV3AvailabilitySearchPost404TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v3/availability/search/simple": {
            "post": {
                "description": "Although this endpoint behaves like a GET, POST reduces the limitations resulting from URL length issues.",
                "operationId": "ApiNskV3AvailabilitySearchSimplePost",
                "summary": "Searches for availability with the simple search request. The simple search request covers the common search\r\ncriteria and lets default settings (AvailabilitySettings) configure the rest.",
                "tags": [
                    "availability"
                ],
                "parameters": [
                    {
                        "name": "availabilitySimpleRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/AvailabilitySimpleRequest"
                        },
                        "description": "The availability search simple request."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "200": {
                        "description": "Availability returned OK.",
                        "schema": {
                            "$ref": "#/definitions/Availability"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV3AvailabilitySearchSimplePost404TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking": {
            "get": {
                "description": "ApiNskV1BookingGet",
                "operationId": "ApiNskV1BookingGet",
                "summary": "ApiNskV1BookingGet",
                "tags": [
                    "/nsk/v1/booking"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Booking"
                        }
                    },
                    "404": {
                        "description": "Client Error",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingGet404TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            },
            "put": {
                "description": "ApiNskV1BookingPut",
                "operationId": "ApiNskV1BookingPut",
                "summary": "ApiNskV1BookingPut",
                "tags": [
                    "/nsk/v1/booking"
                ],
                "parameters": [
                    {
                        "name": "commitRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/CommitRequest"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingPut200TextPlainResponse"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingPut500TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            },
            "post": {
                "description": "ApiNskV1BookingPost",
                "operationId": "ApiNskV1BookingPost",
                "summary": "ApiNskV1BookingPost",
                "tags": [
                    "/nsk/v1/booking"
                ],
                "parameters": [
                    {
                        "name": "commitRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/CommitRequest"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "201": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingPost201TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v3/booking": {
            "put": {
                "description": "Commits stateful changes made and processes the booking.",
                "operationId": "ApiNskV3BookingPut",
                "summary": "Commits stateful changes made and processes the booking.",
                "tags": [
                    "booking"
                ],
                "parameters": [
                    {
                        "name": "commitRequestv2",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/CommitRequestv2"
                        },
                        "description": "Commit request."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV3BookingPut200TextPlainResponse"
                        }
                    },
                    "201": {
                        "description": "Committed successfully."
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV3BookingPut500TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            },
            "post": {
                "description": "Commits stateful changes made and processes the booking.",
                "operationId": "ApiNskV3BookingPost",
                "summary": "Commits stateful changes made and processes the booking.",
                "tags": [
                    "booking"
                ],
                "parameters": [
                    {
                        "name": "commitRequestv2",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/CommitRequestv2"
                        },
                        "description": "Commit request."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "201": {
                        "description": "Committed successfully.",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV3BookingPost201TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/account": {
            "get": {
                "description": "Retrieves the account and collections for the booking in state.",
                "operationId": "ApiNskV1BookingAccountGet",
                "summary": "Retrieves the account and collections for the booking in state.",
                "tags": [
                    "booking"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Account"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingAccountGet404TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/account/collection/{accountCollectionKey}/transactions": {
            "get": {
                "description": "Retrieves the account collection transactions for the booking in state.",
                "operationId": "ApiNskV1BookingAccountCollectionByAccountCollectionKeyTransactionsGet",
                "summary": "Retrieves the account collection transactions for the booking in state.",
                "tags": [
                    "booking"
                ],
                "parameters": [
                    {
                        "name": "accountCollectionKey",
                        "in": "path",
                        "description": "The account collection key.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "StartTime",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). The starting date and time of the date range to search in.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "SortByNewest",
                        "in": "query",
                        "description": "Optional filter to sort results by newest.",
                        "required": true,
                        "type": "boolean"
                    },
                    {
                        "name": "EndTime",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). The end date and time of the date range to search in.",
                        "type": "string"
                    },
                    {
                        "name": "PageSize",
                        "in": "query",
                        "description": "Format - int32. Used to specify the number of records to return.",
                        "type": "integer"
                    },
                    {
                        "name": "PageIndex",
                        "in": "query",
                        "description": "Format - int64. Represents the index of the requested paged item.",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/TransactionArray"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingAccountCollection{accountCollectionKey}TransactionsGet404TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/account/transactions": {
            "get": {
                "description": "Retrieves all of the transactions for all of the collections for the booking in state.",
                "operationId": "ApiNskV1BookingAccountTransactionsGet",
                "summary": "Retrieves all of the transactions for all of the collections for the booking in state.",
                "tags": [
                    "booking"
                ],
                "parameters": [
                    {
                        "name": "StartTime",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). The starting date and time of the date range to search in.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "SortByNewest",
                        "in": "query",
                        "description": "Optional filter to sort results by newest.",
                        "required": true,
                        "type": "boolean"
                    },
                    {
                        "name": "EndTime",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). The end date and time of the date range to search in.",
                        "type": "string"
                    },
                    {
                        "name": "PageSize",
                        "in": "query",
                        "description": "Format - int32. Used to specify the number of records to return.",
                        "type": "integer"
                    },
                    {
                        "name": "PageIndex",
                        "in": "query",
                        "description": "Format - int64. Represents the index of the requested paged item.",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/TransactionArray"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingAccountTransactionsGet404TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/addons": {
            "get": {
                "description": "Gets all the add-ons on the booking in state.",
                "operationId": "ApiNskV1BookingAddonsGet",
                "summary": "Gets all the add-ons on the booking in state.",
                "tags": [
                    "booking"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingAddonsGet200TextPlainResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingAddonsGet404TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/addons/{addOnKey}": {
            "get": {
                "description": "Gets a specific add-on from the booking in state.",
                "operationId": "ApiNskV1BookingAddonsByAddOnKeyGet",
                "summary": "Gets a specific add-on from the booking in state.",
                "tags": [
                    "booking"
                ],
                "parameters": [
                    {
                        "name": "addOnKey",
                        "in": "path",
                        "description": "The unique add on key.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/AddOn"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingAddons{addOnKey}Get404TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            },
            "delete": {
                "description": "Deletes a specific add-on on the booking in state.",
                "operationId": "ApiNskV1BookingAddonsByAddOnKeyDelete",
                "summary": "Deletes a specific add-on on the booking in state.",
                "tags": [
                    "booking"
                ],
                "parameters": [
                    {
                        "name": "addOnKey",
                        "in": "path",
                        "description": "The unique add on key.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingAddons{addOnKey}Delete200TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/addons/{addOnKey}/customer": {
            "put": {
                "description": "Updates an order customer for a specific add-on on the booking.",
                "operationId": "ApiNskV1BookingAddonsByAddOnKeyCustomerPut",
                "summary": "Updates an order customer for a specific add-on on the booking.",
                "tags": [
                    "booking"
                ],
                "parameters": [
                    {
                        "name": "addOnKey",
                        "in": "path",
                        "description": "The unique add on key.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "consumer",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Consumer"
                        },
                        "description": "The customer to update."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingAddons{addOnKey}CustomerPut200TextPlainResponse"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingAddons{addOnKey}CustomerPut500TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            },
            "patch": {
                "description": "Updates an order customer for a specific add-on on the booking.",
                "operationId": "ApiNskV1BookingAddonsByAddOnKeyCustomerPatch",
                "summary": "Updates an order customer for a specific add-on on the booking.",
                "tags": [
                    "booking"
                ],
                "parameters": [
                    {
                        "name": "addOnKey",
                        "in": "path",
                        "description": "The unique add on key.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "deltaMapper[Consumer]",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/DeltaMapper[Consumer]"
                        },
                        "description": "The customer to update."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingAddons{addOnKey}CustomerPatch200TextPlainResponse"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingAddons{addOnKey}CustomerPatch500TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/addons/{addOnKey}/participants/{participantKey}": {
            "put": {
                "description": "Updates a single participant for a specific add-on on the booking.",
                "operationId": "ApiNskV1BookingAddonsByAddOnKeyParticipantsByParticipantKeyPut",
                "summary": "Updates a single participant for a specific add-on on the booking.",
                "tags": [
                    "booking"
                ],
                "parameters": [
                    {
                        "name": "addOnKey",
                        "in": "path",
                        "description": "The unique add on key.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "participantKey",
                        "in": "path",
                        "description": "The unique participant key.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "orderParticipantUpdateRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/OrderParticipantUpdateRequest"
                        },
                        "description": "The participant to update."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingAddons{addOnKey}Participants{participantKey}Put200TextPlainResponse"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingAddons{addOnKey}Participants{participantKey}Put500TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            },
            "patch": {
                "description": "Updates a single participant for a specific add-on on the booking.",
                "operationId": "ApiNskV1BookingAddonsByAddOnKeyParticipantsByParticipantKeyPatch",
                "summary": "Updates a single participant for a specific add-on on the booking.",
                "tags": [
                    "booking"
                ],
                "parameters": [
                    {
                        "name": "addOnKey",
                        "in": "path",
                        "description": "The unique add on key.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "participantKey",
                        "in": "path",
                        "description": "The unique participant key.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "deltaMapper[OrderParticipantUpdateRequest]",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/DeltaMapper[OrderParticipantUpdateRequest]"
                        },
                        "description": "The participant to update."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingAddons{addOnKey}Participants{participantKey}Patch200TextPlainResponse"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingAddons{addOnKey}Participants{participantKey}Patch500TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/addons/{addOnKey}/payments": {
            "get": {
                "description": "If the add on's payment required flag is set to true, this endpoint\r\nwill return the allowed payment options for the add on.  If set to\r\nfalse, null will be returned.",
                "operationId": "ApiNskV1BookingAddonsByAddOnKeyPaymentsGet",
                "summary": "Gets a specific add-on's allowed payment methods.",
                "tags": [
                    "booking"
                ],
                "parameters": [
                    {
                        "name": "addOnKey",
                        "in": "path",
                        "description": "The unique add on key.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/AddOnAllowedPayments"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingAddons{addOnKey}PaymentsGet404TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            },
            "post": {
                "description": "Adds a payment to a specific add-on on the booking.",
                "operationId": "ApiNskV1BookingAddonsByAddOnKeyPaymentsPost",
                "summary": "Adds a payment to a specific add-on on the booking.",
                "tags": [
                    "booking"
                ],
                "parameters": [
                    {
                        "name": "addOnKey",
                        "in": "path",
                        "description": "The unique add on key.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "orderPaymentBase",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/OrderPaymentBase"
                        },
                        "description": "The order payment to be added."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "201": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingAddons{addOnKey}PaymentsPost201TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/addons/{addOnKey}/pre/cancel": {
            "get": {
                "description": "Pre cancels a specific add-on on the booking in state.",
                "operationId": "ApiNskV1BookingAddonsByAddOnKeyPreCancelGet",
                "summary": "Pre cancels a specific add-on on the booking in state.",
                "tags": [
                    "booking"
                ],
                "parameters": [
                    {
                        "name": "addOnKey",
                        "in": "path",
                        "description": "The unique add on key.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/PreCancelDetail"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingAddons{addOnKey}PreCancelGet404TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/addons/{addOnKey}/sync": {
            "put": {
                "description": "Syncs the specific add-on on the booking.",
                "operationId": "ApiNskV1BookingAddonsByAddOnKeySyncPut",
                "summary": "Syncs the specific add-on on the booking.",
                "tags": [
                    "booking"
                ],
                "parameters": [
                    {
                        "name": "addOnKey",
                        "in": "path",
                        "description": "The unique add on key.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingAddons{addOnKey}SyncPut200TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/addons/{addOnKey}/validation": {
            "get": {
                "description": "Retrieves the field validation for a specific add-on on the booking.",
                "operationId": "ApiNskV1BookingAddonsByAddOnKeyValidationGet",
                "summary": "Retrieves the field validation for a specific add-on on the booking.",
                "tags": [
                    "booking"
                ],
                "parameters": [
                    {
                        "name": "addOnKey",
                        "in": "path",
                        "description": "The unique add on key.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/AddOnSettings"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingAddons{addOnKey}ValidationGet404TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/addOns/activities": {
            "get": {
                "description": "Gets default availability using details from the booking in state.\r\nRequires a valid booking in state.",
                "operationId": "ApiNskV1BookingAddOnsActivitiesGet",
                "summary": "Gets default availability using details from the booking in state.\r\nRequires a valid booking in state.",
                "tags": [
                    "booking"
                ],
                "parameters": [
                    {
                        "name": "VendorCode",
                        "in": "query",
                        "description": "The specific vendor code.",
                        "type": "string"
                    },
                    {
                        "name": "CultureCode",
                        "in": "query",
                        "description": "The specific culture code.",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ActivityProductArray"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/addOns/cars": {
            "get": {
                "description": "Gets default availability using details from the booking in state.\r\nRequires a valid booking in state.",
                "operationId": "ApiNskV1BookingAddOnsCarsGet",
                "summary": "Gets default availability using details from the booking in state.\r\nRequires a valid booking in state.",
                "tags": [
                    "booking"
                ],
                "parameters": [
                    {
                        "name": "VendorCode",
                        "in": "query",
                        "description": "The specific vendor code.",
                        "type": "string"
                    },
                    {
                        "name": "CultureCode",
                        "in": "query",
                        "description": "The specific culture code.",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/CarProductArray"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/addOns/hotels": {
            "get": {
                "description": "Gets default availability using details from the booking in state.\r\nRequires a valid booking in state.",
                "operationId": "ApiNskV1BookingAddOnsHotelsGet",
                "summary": "Gets default availability using details from the booking in state.\r\nRequires a valid booking in state.",
                "tags": [
                    "booking"
                ],
                "parameters": [
                    {
                        "name": "VendorCode",
                        "in": "query",
                        "description": "The specific vendor code.",
                        "type": "string"
                    },
                    {
                        "name": "CultureCode",
                        "in": "query",
                        "description": "The specific culture code.",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/HotelProductArray"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/addOns/insurance": {
            "get": {
                "description": "Gets default availability using details from the booking in state.\r\nRequires a valid booking in state.",
                "operationId": "ApiNskV1BookingAddOnsInsuranceGet",
                "summary": "Gets default availability using details from the booking in state.\r\nRequires a valid booking in state.",
                "tags": [
                    "booking"
                ],
                "parameters": [
                    {
                        "name": "VendorCode",
                        "in": "query",
                        "description": "The specific vendor code.",
                        "type": "string"
                    },
                    {
                        "name": "CultureCode",
                        "in": "query",
                        "description": "The specific culture code.",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok.",
                        "schema": {
                            "$ref": "#/definitions/InsuranceProductArray"
                        }
                    },
                    "404": {
                        "description": "Not found."
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            },
            "post": {
                "description": "Sells new insurance items.",
                "operationId": "ApiNskV1BookingAddOnsInsurancePost",
                "summary": "Sells new insurance items.",
                "tags": [
                    "booking"
                ],
                "parameters": [
                    {
                        "name": "sellInsuranceRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/SellInsuranceRequest"
                        },
                        "description": "Quote request."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "201": {
                        "description": "Ok.",
                        "schema": {
                            "$ref": "#/definitions/IActionResult"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/addons/payments": {
            "get": {
                "description": "Gets all the available add-ons allowed payment methods for all the add-ons on the booking in state.",
                "operationId": "ApiNskV1BookingAddonsPaymentsGet",
                "summary": "Gets all the available add-ons allowed payment methods for all the add-ons on the booking in state.",
                "tags": [
                    "booking"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingAddonsPaymentsGet200TextPlainResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingAddonsPaymentsGet404TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v3/booking/boardingpasses/journey/{journeyKey}": {
            "post": {
                "description": "Retrieves the version of the boarding passes based on a specific journey.",
                "operationId": "ApiNskV3BookingBoardingpassesJourneyByJourneyKeyPost",
                "summary": "Retrieves the version of the boarding passes based on a specific journey.",
                "tags": [
                    "booking/boardingpasses"
                ],
                "parameters": [
                    {
                        "name": "journeyKey",
                        "in": "path",
                        "description": "The journey to retrieve boarding passes for.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "boardingPassFilterRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/BoardingPassFilterRequest"
                        },
                        "description": "The passenger/segment filter request."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/BoardingPassesCollectionv2"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV3BookingBoardingpassesJourney{journeyKey}Post404TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v3/booking/boardingpasses/segment/{segmentKey}": {
            "post": {
                "description": "Retrieves the version of the boarding passes based on a specific segment.",
                "operationId": "ApiNskV3BookingBoardingpassesSegmentBySegmentKeyPost",
                "summary": "Retrieves the version of the boarding passes based on a specific segment.",
                "tags": [
                    "booking/boardingpasses"
                ],
                "parameters": [
                    {
                        "name": "segmentKey",
                        "in": "path",
                        "description": "The segment to retrieve boarding passes for.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "boardingPassPassengerFilterRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/BoardingPassPassengerFilterRequest"
                        },
                        "description": "The passenger filter request"
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/BoardingPassesCollectionv2"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV3BookingBoardingpassesSegment{segmentKey}Post404TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/bundle/availability": {
            "post": {
                "description": "Although this endpoint behaves like a GET, POST reduces the limitations resulting from URL length issues.",
                "operationId": "ApiNskV1BookingBundleAvailabilityPost",
                "summary": "Retrieves the bundle and ssr availability for the booking in-state.",
                "tags": [
                    "booking"
                ],
                "parameters": [
                    {
                        "name": "bundleAvailabilityRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/BundleAvailabilityRequest"
                        },
                        "description": "The bundle availability request."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/BundleAvailabilityArray"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingBundleAvailabilityPost404TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/checkin/journey/{journeyKey}": {
            "delete": {
                "description": "Removes the checkin status of passengers for a specific journey in state.",
                "operationId": "ApiNskV1BookingCheckinJourneyByJourneyKeyDelete",
                "summary": "Removes the checkin status of passengers for a specific journey in state.",
                "tags": [
                    "booking/checkin"
                ],
                "parameters": [
                    {
                        "name": "journeyKey",
                        "in": "path",
                        "description": "The journey key.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "checkinPassengersRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/CheckinPassengersRequest"
                        },
                        "description": "The checkin passengers request."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingCheckinJourney{journeyKey}Delete200TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/checkin/journey/{journeyKey}/requirements": {
            "get": {
                "description": "Gets the checkin pre-validation requirements for a specific journey.",
                "operationId": "ApiNskV1BookingCheckinJourneyByJourneyKeyRequirementsGet",
                "summary": "Gets the checkin pre-validation requirements for a specific journey.",
                "tags": [
                    "booking/checkin"
                ],
                "parameters": [
                    {
                        "name": "journeyKey",
                        "in": "path",
                        "description": "The journey key to be pre validate checkin with.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/CheckinRequirements"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingCheckinJourney{journeyKey}RequirementsGet404TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/checkin/journey/{journeyKey}/status": {
            "get": {
                "description": "Gets the passengers lift status for a specific journey based on the booking in state.",
                "operationId": "ApiNskV1BookingCheckinJourneyByJourneyKeyStatusGet",
                "summary": "Gets the passengers lift status for a specific journey based on the booking in state.",
                "tags": [
                    "booking/checkin"
                ],
                "parameters": [
                    {
                        "name": "journeyKey",
                        "in": "path",
                        "description": "The journey to check lift statuses.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/CheckinPassengerLiftStatusArray"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingCheckinJourney{journeyKey}StatusGet404TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/checkin/segment/{segmentKey}": {
            "delete": {
                "description": "Removes the checkin status of passengers for a specific journey's segment in state.",
                "operationId": "ApiNskV1BookingCheckinSegmentBySegmentKeyDelete",
                "summary": "Removes the checkin status of passengers for a specific journey's segment in state.",
                "tags": [
                    "booking/checkin"
                ],
                "parameters": [
                    {
                        "name": "segmentKey",
                        "in": "path",
                        "description": "The segment key.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "checkinPassengersRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/CheckinPassengersRequest"
                        },
                        "description": "The checkin passengers request."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingCheckinSegment{segmentKey}Delete200TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/checkin/segment/{segmentKey}/requirements": {
            "get": {
                "description": "Gets the checkin pre-validation requirements for a specific journey's segment.",
                "operationId": "ApiNskV1BookingCheckinSegmentBySegmentKeyRequirementsGet",
                "summary": "Gets the checkin pre-validation requirements for a specific journey's segment.",
                "tags": [
                    "booking/checkin"
                ],
                "parameters": [
                    {
                        "name": "segmentKey",
                        "in": "path",
                        "description": "The segment key to pre validate checkin with.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/CheckinRequirements"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingCheckinSegment{segmentKey}RequirementsGet404TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/checkin/segment/{segmentKey}/status": {
            "get": {
                "description": "Gets the passenger lift status for a specific segment based on the booking in state.",
                "operationId": "ApiNskV1BookingCheckinSegmentBySegmentKeyStatusGet",
                "summary": "Gets the passenger lift status for a specific segment based on the booking in state.",
                "tags": [
                    "booking/checkin"
                ],
                "parameters": [
                    {
                        "name": "segmentKey",
                        "in": "path",
                        "description": "The segment key in reference.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingCheckinSegment{segmentKey}StatusGet200TextPlainResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingCheckinSegment{segmentKey}StatusGet404TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/comments": {
            "get": {
                "description": "Gets the list of comments on the in-state booking.",
                "operationId": "ApiNskV1BookingCommentsGet",
                "summary": "Gets the list of comments on the in-state booking.",
                "tags": [
                    "booking"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/BookingCommentArray"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingCommentsGet404TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            },
            "post": {
                "description": "Adds comments to the booking.",
                "operationId": "ApiNskV1BookingCommentsPost",
                "summary": "Adds comments to the booking.",
                "tags": [
                    "booking"
                ],
                "parameters": [
                    {
                        "name": "bookingCommentsRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/BookingCommentsRequest"
                        },
                        "description": "The booking comments request."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "201": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingCommentsPost201TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v2/booking/comments/{commentKey}": {
            "delete": {
                "description": "Deletes a comment from the booking.",
                "operationId": "ApiNskV2BookingCommentsByCommentKeyDelete",
                "summary": "Deletes a comment from the booking.",
                "tags": [
                    "booking"
                ],
                "parameters": [
                    {
                        "name": "commentKey",
                        "in": "path",
                        "description": "The booking comment key.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV2BookingComments{commentKey}Delete200TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/contacts": {
            "get": {
                "description": "Gets all the contacts on the booking.",
                "operationId": "ApiNskV1BookingContactsGet",
                "summary": "Gets all the contacts on the booking.",
                "tags": [
                    "booking/contacts"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingContactsGet200TextPlainResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingContactsGet404TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            },
            "post": {
                "description": "Creates a new contact on the booking.",
                "operationId": "ApiNskV1BookingContactsPost",
                "summary": "Creates a new contact on the booking.",
                "tags": [
                    "booking/contacts"
                ],
                "parameters": [
                    {
                        "name": "contact",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Contact"
                        },
                        "description": "The new contact."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "201": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingContactsPost201TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/contacts/{contactTypeCode}": {
            "get": {
                "description": "Gets a specific contact on the booking.",
                "operationId": "ApiNskV1BookingContactsByContactTypeCodeGet",
                "summary": "Gets a specific contact on the booking.",
                "tags": [
                    "booking/contacts"
                ],
                "parameters": [
                    {
                        "name": "contactTypeCode",
                        "in": "path",
                        "description": "The unique contact type code.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Contact"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingContacts{contactTypeCode}Get404TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            },
            "put": {
                "description": "Updates a specific contact on the booking.",
                "operationId": "ApiNskV1BookingContactsByContactTypeCodePut",
                "summary": "Updates a specific contact on the booking.",
                "tags": [
                    "booking/contacts"
                ],
                "parameters": [
                    {
                        "name": "contactTypeCode",
                        "in": "path",
                        "description": "The unique type code.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "contactRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/ContactRequest"
                        },
                        "description": "The modified contact."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingContacts{contactTypeCode}Put200TextPlainResponse"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingContacts{contactTypeCode}Put500TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            },
            "delete": {
                "description": "Deletes a specific contact on the booking.",
                "operationId": "ApiNskV1BookingContactsByContactTypeCodeDelete",
                "summary": "Deletes a specific contact on the booking.",
                "tags": [
                    "booking/contacts"
                ],
                "parameters": [
                    {
                        "name": "contactTypeCode",
                        "in": "path",
                        "description": "The unique type code.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingContacts{contactTypeCode}Delete200TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            },
            "patch": {
                "description": "Patches a specific contact on the booking.",
                "operationId": "ApiNskV1BookingContactsByContactTypeCodePatch",
                "summary": "Patches a specific contact on the booking.",
                "tags": [
                    "booking/contacts"
                ],
                "parameters": [
                    {
                        "name": "contactTypeCode",
                        "in": "path",
                        "description": "The unique type code.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "deltaMapper[ContactBase]",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/DeltaMapper[ContactBase]"
                        },
                        "description": "The patched contact request."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingContacts{contactTypeCode}Patch200TextPlainResponse"
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingContacts{contactTypeCode}Patch500TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/contacts/{contactTypeCode}/phoneNumbers": {
            "get": {
                "description": "Gets the collection of phone number for a specific contact on the booking.",
                "operationId": "ApiNskV1BookingContactsByContactTypeCodePhoneNumbersGet",
                "summary": "Gets the collection of phone number for a specific contact on the booking.",
                "tags": [
                    "booking/contacts"
                ],
                "parameters": [
                    {
                        "name": "contactTypeCode",
                        "in": "path",
                        "description": "The unique contact type code.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/PhoneNumberArray"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingContacts{contactTypeCode}PhoneNumbersGet404TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            },
            "post": {
                "description": "Creates a new phone number on a specific contact on the booking.",
                "operationId": "ApiNskV1BookingContactsByContactTypeCodePhoneNumbersPost",
                "summary": "Creates a new phone number on a specific contact on the booking.",
                "tags": [
                    "booking/contacts"
                ],
                "parameters": [
                    {
                        "name": "contactTypeCode",
                        "in": "path",
                        "description": "The unique contact type code.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "phoneNumber",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/PhoneNumber"
                        },
                        "description": "The new phone number."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/json-patch+json"
                ],
                "responses": {
                    "201": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingContacts{contactTypeCode}PhoneNumbersPost201TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/nsk/v1/booking/contacts/{contactTypeCode}/phoneNumbers/{phoneNumberType}": {
            "get": {
                "description": "Gets the specific phone number from a specific contact on the booking.",
                "operationId": "ApiNskV1BookingContactsByContactTypeCodePhoneNumbersByPhoneNumberTypeGet",
                "summary": "Gets the specific phone number from a specific contact on the booking.",
                "tags": [
                    "booking/contacts"
                ],
                "parameters": [
                    {
                        "name": "contactTypeCode",
                        "in": "path",
                        "description": "The unique contact type code.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "phoneNumberType",
                        "in": "path",
                        "description": "The phone number type.",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "Other",
                            "Home",
                            "Work",
                            "Mobile",
                            "Fax"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/PhoneNumber"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiNskV1BookingContacts{contactTypeCode}PhoneNumbers{phoneNumberType}Get404TextPlainResponse"
                        }
                    }
                },
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            },
            "put": {
[...]
